/* RESET CSS ----------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

ul,
ol {
    list-style-type: none;
}


/*  HEADER ----------------------------------------------------------------------------- */
.logo-nav {
    width: 140px;
}

.header {
    /* background-color: #83c5be; */
    background-color: white;
    font-weight: 600;
    font-size: 18;
}

.lista-nav {
    display: flex;
    gap: 60px;
}

.resaltado {
    text-decoration: underline;
}



/* FOOTER ----------------------------------------------------------------------------- */
.bg-footer {
    background-color: #ffddd2;
}

i {
    color: black;
}

.social-insta:hover {
    color: #e4405f
}

.social-face:hover {
    color: #3b5999;
}

.social-twtr:hover {
    color: #55acee
}

.links-footer{
    text-decoration: none;
    color: black;
}

.links-footer:hover{
    color: #006d77;
    font-weight: bold;
}


/* MAIN ----------------------------------------------------------------------------- */
.titulo {
    color: white;
    font-weight: 800;
    font-size: 40px;
}

.subtitulo {
    color: white
}

.bg-celeste {
    background-color: #83c5be;
}


/* RECETAS-MAIN ----------------------------------------------------------------------------- */
.lista-recetas {
    display: flex;
    justify-content: space-around;
}

.categoria {
    color: 006d77;
    font-weight: 600;
    font-size: 20px;
}

/* PLANIFICA TU SEMANA-MAIN ----------------------------------------------------------------------------- */
.principal-planifica {
    background-image: url(../img/principal-planifica-tu-semana.jpg);
    height: 70vh;
    background-size: contain;
    display: flex;
    align-items: end;
    color: white;
}

.funcionamiento {
    background-color: #83c5be;
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*  HEADER LOGIN ---------------------------------------------------------------------- */
.header-login {
    padding: 5px;
    background-color: #83c5be;
    display: flex;
    justify-content: center;
}


/* LOGIN-MAIN ----------------------------------------------------------------------------- */
.img-login{
    background-image: url(../img/img-login-4.jpg);
    background-size: cover;
    height: 100vh;
}

.font-login{
    font-family: 'Lilita One', cursive;
}

.bg-azul{
    color: #006d77;
}

.subrayado:hover{
    text-decoration: underline;
}