/* MAIN ----------------------------------------------------------------------------- */
.titulo {
   color: white;
   font-weight: 800;
   font-size: 40px;
}

.subtitulo {
   color: white;
   font-size: 20px;
   font-weight: bold;
}

.bg-celeste {
   background-color: $azul-claro;
}