/* PLANIFICA TU SEMANA-MAIN ----------------------------------------------------------------------------- */
.bg-negro {
   color: black;
}

.funcionamiento {
   background-color: $azul-claro;
   padding: 5px;
}

.numero-grande {
   font-family: 'Titan One', cursive;
   font-weight: 800;
   font-size: 150px;
}

.texto-planifica {
   text-align: justify;
}

.texto-pie {
   font-family: 'Titan One', cursive;
   font-weight: 400;
   font-size: 50px;
}