/* RECETAS-MAIN ----------------------------------------------------------------------------- */
.categoria {
   color: $azul-oscuro;
   font-weight: 600;
   font-size: 20px;
}

.dropdown-item:hover{
      font-weight: bold;
      color: $azul-oscuro;
}