/* RECETAS-MAIN ----------------------------------------------------------------------------- */
.categoria {
   color: $azul-oscuro;
   font-weight: 600;
   font-size: 20px;
}



.boton-pie:hover {
   color: white;
}