
/* FOOTER ----------------------------------------------------------------------------- */
.bg-footer {
   background-color: $crema;
}

i {
   color: black;
}

.social-insta:hover {
   color: $instagram;
}

.social-face:hover {
   color: $facebook;
}

.social-twtr:hover {
   color: $twitter;
}

.links-footer {
   text-decoration: none;
   color: black;

   &:hover{
      color: $azul-oscuro;
      font-weight: bold;
   }
}
