/*  HEADER ----------------------------------------------------------------------------- */
.logo-nav {
   width: 140px;
}

.header {
   background-color: white;
   font-weight: 600;
   font-size: 18;
}

.lista-nav {
   display: flex;
   gap: 60px;
}

.resaltado {
   text-decoration: underline;
}