/*  HEADER ----------------------------------------------------------------------------- */
.logo-nav {
   width: 140px;
}

.header {
   background-color: white;
   font-weight: 600;
   font-size: 18;
}

.lista-nav {
   display: flex;
   gap: 60px;
}

.resaltado {
   text-decoration: underline;
}

.boton-login {
   --bs-btn-font-size: 18px
}

.boton-azul {
   &:hover {
      background-color: $azul-oscuro !important;
      border-color: $azul-oscuro !important;
   }
}

.nav-link{
   &:hover{
      color: $azul-oscuro !important;
   }
}

.active{
   color: $azul-oscuro !important;
}